@login-container: login-container;

.@{login-container} {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;

  &-content {
    background-color: #fcfcfc;
    width: 400px;
    border: 1px solid #ccc;
    padding: 32px;
    box-shadow: 0px 14px 14px 0px rgba(52,52,52,.15);
    border-radius: 24px;

    &-item {
      margin-bottom: 8px;
      font-size: 16px;
    }
    &-item:first-child {
      text-align: center;
      margin-bottom: 32px;

      .icon {
        font-size: 90px;
      }
    }
  }

  .ae[role='progressbar'] {
    position: fixed;
    top: -12px;
  }
}

.modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}
.modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal-content {
  position: relative;
  margin: 0 auto;
  top: calc(50% - 64px);
  text-align: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  background: dodgerblue;
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  background: deepskyblue;
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  background: red;
  left: 45px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}


